:root {
    --opsscript-color-unknown: #9e9e9e;
    --opsscript-color-success: #4caf50;
    --opsscript-color-failure: #f44336;

    --opsscript-accent: var(--vscode-activityBarBadge-background);
    --opsscript-trigger-focus: var(--vscode-breadcrumb-focusForeground);
    --opsscript-trigger: var(--vscode-breadcrumb-foreground);
    --opsscript-notification-focus-foreground: var(--vscode-breadcrumb-focusForeground);
    --opsscript-notification-foreground: var(--vscode-breadcrumb-foreground);
    --opsscript-notification-background: var(--vscode-list-inactiveSelectionBackground);
    --opsscript-label-foreground: var(--vscode-input-foreground);
    --opsscript-label-background: var(--vscode-list-inactiveSelectionBackground);
    --opsscript-label-error-foreground: var(--vscode-editorError-foreground);

    --opsscript-reload-notification-height: 1.5rem;
}

.reload-notification {
    display: none;
}

.reload-notification.active {
    display: inherit;
    position: fixed;
    top: 0;

    height: var(--opsscript-reload-notification-height);
    width: 100%;
    z-index: 999;

    background-color: var(--opsscript-notification-background);
}

.reload-trigger {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    color: var(--opsscript-notification-foreground);
    width: 100%;
    padding-left: 0.5rem;
}

.reload-trigger:hover {
    text-decoration: none;
    color: var(--opsscript-notification-focus-foreground);
}

.reload-trigger::before {
    font-family: 'IcoFont';
    content: '\ec80';
    color: var(--opsscript-accent);

    margin-right: 0.2rem;
}

.script-chunk, .read-only-script-chunk {
    position:relative;
}

.script-chunk .script-chunk-code pre {
    padding-top: 2rem;
}

.script-chunk-label {
    position: absolute;
    top: 0;
    left: 0;
    
    color: var(--opsscript-label-foreground);
    background-color: var(--opsscript-label-background);
    padding: 0 0.5rem;
}
.script-chunk-label.error {
    color: var(--opsscript-label-error-foreground);
}

.script-chunk-control-panel {
    position: absolute;
    top: 0.30rem;
    right: 0.25rem;
}

.script-chunk-control-panel a {
    font-family: 'IcoFont';
    cursor: pointer;
    user-select: none;
    color: var(--opsscript-trigger);
    font-size: 0.95rem;

    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    margin-right: 0.3rem;
}

.script-chunk-control-panel a:hover {
    text-decoration: none;
    color: var(--opsscript-trigger-focus);
}

.script-chunk-control-panel a:active {
    font-size: 1.1rem;
}

.ready.script-chunk .script-chunk-trigger::before {
    content: '\ec74';
}

.running.script-chunk .script-chunk-trigger::before {
    content: '\ec73';
}

.ran.script-chunk .script-chunk-trigger::before {
    content: '\ec7f';
}

.script-chunk .exit-status {
    position: absolute;
    bottom: 0px;
    left: 1rem;
}

.ready.script-chunk .output {
    display: none;
}

.ready.script-chunk .spinner {
    display: none;
}

.running.script-chunk .output, .ran.script-chunk .output {
    max-height: 20rem;
    overflow: scroll;
    padding-bottom: 1rem;
}

.running.script-chunk .output {
    border-left: solid 0.5rem var(--opsscript-color-unknown);
}

.ran.success.script-chunk .output {
    border-left: solid 0.5rem var(--opsscript-color-success);
}

.ran.script-chunk .spinner {
    display: none;
}

.ran.success.script-chunk .exit-status::before {
    font-family: 'IcoFont';
    color: var(--opsscript-color-success);
    content: '\ec4b';
}

.ran.failure.script-chunk .output {
    border-left: solid 0.5rem var(--opsscript-color-failure);
}

.ran.failure.script-chunk .exit-status::before {
    font-family: 'IcoFont';
    color: var(--opsscript-color-failure);
    content: '\ec4f';
}

.copy-script-trigger::before {
    content: '\ec51';
}

.tippy-content {
    font-family: 'IcoFont';
    font-size: 0.7rem;
}
.tippy-tooltip.opsview-theme {
    color: var(--opsscript-notification-foreground);
    background-color: var(--opsscript-notification-background);
}
.tippy-tooltip.opsview-theme[data-placement^='top'] .tippy-arrow {
    border-top-color: var(--opsscript-notification-background);
}
.tippy-tooltip.opsview-theme[data-placement^='bottom'] .tippy-arrow {
    border-bottom-color: var(--opsscript-notification-background);
}
.tippy-tooltip.opsview-theme[data-placement^='left'] .tippy-arrow {
    border-left-color: var(--opsscript-notification-background);
}
.tippy-tooltip.opsview-theme[data-placement^='right'] .tippy-arrow {
    border-right-color: var(--opsscript-notification-background);
}
