:root {
    --opsscript-color-unknown: #9e9e9e;
    --opsscript-color-success: #4caf50;
    --opsscript-color-failure: #f44336;

    --opsscript-reload-notification-height: 1.5rem;
}

.reload-notification {
    display: none;
}

.reload-notification.active {
    display: inherit;
    height: var(--opsscript-reload-notification-height);
    width: 100%;

    background-color: var(--vscode-activityBar-background);
}

.reload-notification.active.hover {
    position: fixed;
    top: 0;

    z-index: 999;
}

.reload-trigger {
    user-select: none;
    cursor: pointer;
    color: var(--vscode-activityBar-inactiveForeground);

    margin-left: 0.5rem;
}

.reload-trigger:hover {
    text-decoration: none;
    color: var(--vscode-activityBar-foreground);
}

.reload-trigger::before {
    font-family: 'IcoFont';
    content: '\ec80';
    color: var(--vscode-activityBarBadge-background);

    margin-right: 0.2rem;
}

.script-chunk, .read-only-script-chunk {
    position:relative;
}

.script-chunk .script-chunk-code pre {
    padding-top: 2rem;
}

.script-chunk-label {
    position: absolute;
    top: 0;
    left: 0;
    
    color: var(--vscode-sideBarTitle-foreground);
    background-color: var(--vscode-sideBarSectionHeader-background);
    padding: 0 0.5rem;
}

.script-chunk-control-panel {
    position: absolute;
    top: 0.15rem;
    right: 0.25rem;
}

.script-chunk-control-panel a {
    font-family: 'IcoFont';
    cursor: pointer;
    user-select: none;
    color: var(--vscode-activityBar-inactiveForeground);
    font-size: 0.95rem;

    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    margin-right: 0.2rem;
}

.script-chunk-control-panel a:hover {
    text-decoration: none;
    color: var(--vscode-activityBar-foreground);
}

.script-chunk-control-panel a:active {
    font-size: 1.1rem;
}

.ready.script-chunk .script-chunk-trigger::before {
    content: '\ec74';
}

.running.script-chunk .script-chunk-trigger::before {
    content: '\ec73';
}

.ran.script-chunk .script-chunk-trigger::before {
    content: '\ec7f';
}

.script-chunk .exit-status {
    position: absolute;
    bottom: 0px;
    left: 1rem;
}

.ready.script-chunk .output {
    display: none;
}

.ready.script-chunk .spinner {
    display: none;
}

.running.script-chunk .output, .ran.script-chunk .output {
    max-height: 20rem;
    overflow: scroll;
    padding-bottom: 1rem;
}

.running.script-chunk .output {
    border-left: solid 0.5rem var(--opsscript-color-unknown);
}

.ran.success.script-chunk .output {
    border-left: solid 0.5rem var(--opsscript-color-success);
}

.ran.script-chunk .spinner {
    display: none;
}

.ran.success.script-chunk .exit-status::before {
    font-family: 'IcoFont';
    color: var(--opsscript-color-success);
    content: '\ec4b';
}

.ran.failure.script-chunk .output {
    border-left: solid 0.5rem var(--opsscript-color-failure);
}

.ran.failure.script-chunk .exit-status::before {
    font-family: 'IcoFont';
    color: var(--opsscript-color-failure);
    content: '\ec4f';
}

.copy-script-trigger::before {
    content: '\ec51';
}

.tippy-content {
    font-family: 'IcoFont';
    font-size: 0.7rem;
}

.tippy-tooltip.opsview-theme {
    background-color: var(--vscode-sideBarSectionHeader-background);
    color: var(--vscode-sideBarTitle-foreground);
}
.tippy-tooltip.opsview-theme[data-placement^='top'] .tippy-arrow {
    border-top-color: var(--vscode-sideBarSectionHeader-background);
  }
  .tippy-tooltip.opsview-theme[data-placement^='bottom'] .tippy-arrow {
    border-bottom-color: var(--vscode-sideBarSectionHeader-background);
  }
  .tippy-tooltip.opsview-theme[data-placement^='left'] .tippy-arrow {
    border-left-color: var(--vscode-sideBarSectionHeader-background);
  }
  .tippy-tooltip.opsview-theme[data-placement^='right'] .tippy-arrow {
    border-right-color: var(--vscode-sideBarSectionHeader-background);
  }
